[submodule "atividade-3"]
	path = atividade-3
	url = https://github.com/beatrizreisgb/atividade-3.git
[submodule "atividade-4"]
	path = atividade-4
	url = https://github.com/beatrizreisgb/atividade-4.git
[submodule "atividade-5"]
	path = atividade-5
	url = https://github.com/beatrizreisgb/atividade-5.git
